@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,100&display=swap');
body{
    background-color: #BF665E;
    font-family: 'poppins', sans-serif; 
}
header{
    color: #fff;
    font: normal 16pt 'poppins';
    text-align: center;
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
section{
    background-color: #F28157;
    border-radius: 10px;
    width: 500px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.353);
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 44px;
}
input{
    border-radius: 10px;
    border: none;
    background-color: white;
    padding: 6px;
    margin-bottom: 6px;
    font-size: 12pt;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.353);
}
input#botao{
    font-size: 8pt;
    color: #253659;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.591);
    font-weight: bolder;
    font-style: normal;
    
}
#res{
    margin-top: 10px;
    font: bold 16px 'poppins';
    

}a{
    text-decoration: underline;
    color: inherit;
}

a.foot{
   margin-left: 12px;
   transition: .4s .1s;
}
a.foot:hover{
    transition: .4s .1s;
    padding: 16px;
    height: 12px;
    width: 35px;
}
