
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,100&display=swap');
html{
   background-image: linear-gradient(to bottom, #a0b5c8 10%, #b3c1cc 40%,#bdc6ce);
   height: 140%;
   width: 100%;
   font-family: 'arial';
}
header{
    font: normal 18pt 'arial';
    text-align: center;
    margin-top: 16px;
    color: black;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

div.txt{
 
    margin-bottom: 25px;
    margin-top: 25px;
    width: 120px;
    height: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
    
    border-radius: 12px;
    text-align: center;
    border-radius: 12px;
    transition: .4s .1s;
   
    
}
div.txt:hover{
    width: 140px;
    height: 40px;
    transition: .4s .1s;
    text-align: right;
    

}

p#p{
    text-align: left;
    font: normal 12px 'poppins';
}



h2{
    font: normal 16px 'poppins';
    text-align: center;
}

footer{
    font: normal 16px 'arial';
    font-style: italic;
    text-align: center;
    margin-top: 44px;
    transition: .4s .1s;

}a{
    text-decoration: underline;
    color: inherit;
}

a.foot{
   margin-left: 12px;
   transition: .4s .1s;
}
a.foot:hover{
    transition: .4s .1s;
    padding: 16px;
    height: 12px;
    width: 35px;
}
img.class:hover{
    height: 3%;
    width: 3%;
    cursor: pointer;
}

div#res1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
   
    
    margin: auto;
}
div#res2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
    
    
    margin: auto;
}div#res3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
    
    
    margin: auto;
}
div#res4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
    
    
    margin: auto;
}


input{
    border: none;
    background-color: #b3c1cc00;
    
    font: normal 14px arial;
    border-radius: 12px;
   height: 30px;
    width: 120px;
    cursor: pointer;
    transition: .4s .1s;
    
}
input:hover{
    transition: .4s .1s;
   height: 40px;
    width: 140px;
    text-align: center;
}
section#aparece{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}section#direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}
ul{
    font: normal 20px 'arial';
    margin-bottom: 20px;
    
}
li{
    margin-top: 20px;
}
section#coluna{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
div#res1:hover{
    background-color:rgba(0, 0, 0, 0.105);
   
}
div#res2:hover{
    background-color:rgba(0, 0, 0, 0.105);
   
}div#res3:hover{
    background-color:rgba(0, 0, 0, 0.105);
   
}div#res4:hover{
    background-color:rgba(0, 0, 0, 0.105);
   
}

div#tecs{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
    background-color: #b3c1cc00;
    width: 110px;  
    align-items: center;
    height: 500px;
}
img.lang{
    border: none;
    border-radius: 8px;
    margin-bottom: 9px;
    margin-top: 9px;
    width: 75px;
    right: 75px;
    transition: .4s .1s;
    
    
}
.lang:hover{
    
    margin-right: 25px;
    transition: .4s .1s;
    

}section#cubos{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.64),rgba(0, 0, 0, 0.39) );
    color: rgba(240, 255, 255, 0.792);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: baseline;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 35);
    width: 480px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-right: 140px;
}
.cubinhos1{
    /* background-color: rgba(255, 255, 0, 0); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 480px;
    height: 240px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}.cubinhos2{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 480px;
    height: 240px;

}.cubinhos3{
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 480px;
    height: 240px;

}.cubinhos4{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    width: 480px;
    height: 240px;
    justify-content: space-around;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    

 }
.paragrafo-portfolio{
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}
img.imagem-portfolio{
    height: 200px;
    width: 240px;
    transition: .2s .1s;
   

}
img.imagem-portfolio:hover{
    height: 205px;
    width: 245px;
    transition: .2s .1s;
}img.imagem-portfolio-l{
    height: 200px;
    width: 240px;
    transition: .2s .1s;
    border-bottom-left-radius: 18px;
   

}
img.imagem-portfolio-l:hover{
    height: 205px;
    width: 245px;
    transition: .2s .1s;
    
}img.imagem-portfolio-r{
    height: 200px;
    width: 240px;
    transition: .2s .1s;
    border-bottom-right-radius: 18px;
   

}
img.imagem-portfolio-r:hover{
    height: 205px;
    width: 245px;
    transition: .2s .1s;
   
}