
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,100&display=swap');
html{
   background-image: linear-gradient(to bottom, #a0b5c8 10%, #b3c1cc 40%,#bdc6ce);
   height: 120%;
   width: 100%;
}
header{
    font: normal 18pt 'poppins';
    text-align: center;
    margin-top: 16px;
    color: black;
    

}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    
    
    
    
    
}

div.txt{
 
    margin-bottom: 60px;
    width: 120px;
    height: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
    
    border-radius: 12px;
    text-align: center;
    border-radius: 12px;
   
    
}
div.txt:hover{
    width: 140px;
    height: 40px;
    transition: .5s .1s;
    text-align: right;
    

}

p#p{
    text-align: left;
    font: normal 12px 'poppins';
}



h2{
    font: normal 16px 'poppins';
    text-align: center;
}

footer{
    font: normal 16px 'arial';
    font-style: italic;
    text-align: center;
    display: block;

}a{
    text-decoration: underline;
    color: inherit;
}

a.foot{
   margin-left: 12px;
}
a.foot:hover{
    transition: .3s .1s;
    padding: 16px;
    height: 12px;
    width: 35px;
}
img.class:hover{
    height: 3%;
    width: 3%;
    cursor: pointer;
}

div#res1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 500px;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
   
    
    margin: auto;
}
div#res2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 500px;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
    
    
    margin: auto;
}

input{
    border: none;
    background-color: #b3c1cc00;
    
    font: normal 14px arial;
    border-radius: 12px;
   height: 30px;
    width: 120px;
    cursor: pointer;
    
}
input:hover{
    transition: .3s .1s;
   height: 40px;
    width: 140px;
    text-align: center;
}
section#aparece{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    font: normal 20px 'arial';
    margin-bottom: 20px;
    
}
li{
    margin-top: 20px;
}
div#res1:hover{
    background-color:rgba(0, 0, 0, 0);
   
}
div#res2:hover{
    background-color:rgba(0, 0, 0, 0);
   
}

div#tecs{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
    background-color: #b3c1cc00;
    width: 100px;  
    align-items: center;
}
img.lang{
    border: none;
    border-radius: 8px;
    margin-bottom: 12px;
    width: 50px;
    right: 50px;
    
}
.lang:hover{
    
    margin-right: 20px;
    transition: .4s .1s;
    

}
