@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,100&display=swap');
html{
    height: 100%;
}
body{
    
    background-image: linear-gradient(to top,#9AEBA3 , #45C4B0);
     
}
header{
    color: rgb(0, 0, 0);
    font: normal 16pt 'poppins';
    text-align: center;
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
section{
    background-color: #DAFDBA;
    border-radius: 10px;
    width: 500px;
    padding: 15px;
    font: normal 16px 'poppins';
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.538);
    margin: auto;

    
}
p{
    margin-left: 16px;
    padding: 16px;
    font: normal 12pt 'poppins' ;
}
input{
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.538);
    border-radius: 8px;
    text-align: center;
    padding: 4px;
    margin: auto;
    margin-left: 6px;
}
input#botao{
    border-radius: 20px;
    align-items: center;
    border: none;
    background-color: #012030;
    height: 30px;
    width: 50px;
    font: normal 12px 'poppins';
    display: flex;
    flex-direction: row;
    margin-left: 220px;
    color: white;
    margin-top: 20px;
    
}
input#botao:active{
    height: 35px;
    width: 55px;
    text-align: center;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    color: #012030;
    text-align: center;
    font-style: italic;  
    margin-top: 44px;  
}
#res{
    margin: auto;
    font: normal 16px 'poppins';
    margin-top: 30px;
    text-align: center;
    margin-bottom: 15px;
    

}a{
    text-decoration: underline;
    color: inherit;
}

a.foot{
   margin-left: 12px;
   transition: .4s .1s;
}
a.foot:hover{
    transition: .4s .1s;
    padding: 16px;
    height: 12px;
    width: 35px;
}

